@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Smythe&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-size: 18px;
}

:root{
   /* cores */
   --black: #121011;
   --orange: #BF5B04;
   --gray: #d9d9d9;
   --write: #fff;

   /* fontes */
   --font-primary: 'Smythe', cursive;
   --font-secondary: 'Roboto', sans-serif;
}

body{
   background-color: var(--black);
   width: 100%;
   height: 100vh;
}