.containerTitle{
   width: 100%;
   height: 35vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 10px;
}

.containerTitle h1{
   font-family: var(--font-primary);
   color: var(--orange);
   font-size: 2rem;
}

.containerApp{
   width: 100%;
   height: 65vh;
   background-color: var(--orange);
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

p{
   text-align: center;
   font-family: var(--font-primary);
   font-size: 1.2rem;
}

.buttonsShare{
   display: flex;
   justify-content: space-evenly;
}

.buttonsShare a img{
   width: 28px;
   height: 28px;
}